<div class="need-space row">
	<label class="col-sm-4">单据编号：</label>
	<label></label>
</div>
<div class="need-space">
	<label>业务单元（公司）：</label>
	<select name="">
	</select>
	<label>生产部门：</label>
    <select name="">
	</select>
</div>
<div class="need-space">
	<label>日期：</label>
	<select name="">
	</select>
	<label>录入人：</label>
    <select name="">
	</select>
</div>
<div class="need-space">
	<label>物料编码：</label>
	<select name="">
	</select>
	<label>物料名称：</label>
    <label></label>
</div>
<div class="need-space">
	<label>发电量：</label>
	<input type="text" />
	<label>单价（元）：</label>
	<input type="text" />
	<label>金额（元）：</label>
	<input type="text" />
</div>