<!DOCTYPE html>
<html>
<div class="need-space row">
	<div class="col-sm-6">
		<label class="col-sm-4 title">公司：</label>
		<select class="col-sm-8" name="yewudanyuan">
			<option value="甲">甲公司</option>
			<option value="乙">乙公司</option>
			<option value="丙">丙公司</option>
		</select>
	</div>
	<div class="col-sm-6">	
		<label class="col-sm-4 title">生产部门：</label>
	    <select class="col-sm-8" name="shengchanbumen">
			<option value="A">A部门</option>
			<option value="B">B部门</option>
			<option value="C">C部门</option>
		</select>
	</div>
</div>
<div class="need-space row">
	<div class="col-sm-6">
		<label class="col-sm-4 title">日期：</label>
		<select class="col-sm-8" name="riqi">
		</select>
	</div>
	<div class="col-sm-6">
		<label class="col-sm-4 title">客户编码：</label>
    	<select class="col-sm-8" name="">
    	</select>
	</div>
</div>
<div class="need-space row">
	<div class="col-sm-6">
	<label class="col-sm-4 title">客户名称：</label>
		<select class="col-sm-8" name="">
		</select>
	</div>
	<div class="col-sm-6">
		<label class="col-sm-4 title">物料名称：</label>
    	<label class="col-sm-8"></label>
    </div>
</div>
<div class="need-space row">
	<div class="col-sm-12" style="padding-left:10px;">	
		<label class="col-sm-2 title">结算电量：</label>
		<input class="col-sm-10 ui-widget-content ui-corner-all" type="text" />
	</div>
</div>
<div class="need-space row">
	<div class="col-sm-6">	
		<label class="col-sm-4 title">标杆单价（元）：</label>
		<input class="col-sm-8 ui-widget-content ui-corner-all" type="text" />
	</div>
	<div class="col-sm-6">
		<label class="col-sm-4 title">标杆金额（元）：</label>
		<input class="col-sm-8 ui-widget-content ui-corner-all" type="text" />
	</div>
</div>
<div class="need-space row">
	<div class="col-sm-6">	
		<label class="col-sm-4 title">补贴单价（元）：</label>
		<input class="col-sm-8 ui-widget-content ui-corner-all" type="text" />
	</div>
	<div class="col-sm-6">
		<label class="col-sm-4 title">补贴金额（元）：</label>
		<input class="col-sm-8 ui-widget-content ui-corner-all" type="text" />
	</div>
</div>
